# Utilities

 python-dotenv

# streamlit x arctic

streamlit
replicate
transformers

# llama index 

llama-index-core
llama-index-llms-replicate
llama-index-embeddings-huggingface
llama-index-readers-file
llama-index-readers-json
